$white: #ffffff;
$gray: #767676;
$gray-fg: #f5f5f5;
$blue-primary: #24326f;
$blue-dark: #070d59;
$gradient-multimedia: radial-gradient(
  100% 802.12% at 0% 50%,
  #15366f 0%,
  #3150a3 55.2%,
  #15366f 100%
);
